html {
  scroll-behavior: smooth;
}

.max-w-screen {
  @apply max-w-screen-xl mx-auto px-4;
}

.faq-box::after,
.faq-box::before {
  position: absolute;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232563eb' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 120px;
  height: 140px;
  z-index: -1;
}

.faq-box::before {
  top: -1em;
  left: -1em;
}

.faq-box::after {
  bottom: -1em;
  right: -1em;
}

.notf-right {
  animation: 0.4s notfRight forwards;
}

@keyframes notfRight {
  0% {
    transform: translateX(5em);
  }

  100% {
    transform: translateX(0);
  }
}

.notf-brogress {
  animation: 14s brogress forwards;
}

@keyframes brogress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

code {
  font-size: 15px !important;
}

pre {
  outline: 0 !important;
}

.remove-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
}
